<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joewang.sc_backend.system.mapper.ScCourseMapper">
    
    <resultMap type="ScCourse" id="ScCourseResult">
        <result property="id"    column="id"    />
        <result property="courseNo"    column="course_no"    />
        <result property="name"    column="name"    />
        <result property="credit"    column="credit"    />
    </resultMap>

    <sql id="selectScCourseVo">
        select id, course_no, name, credit from sc_course
    </sql>

    <select id="selectScCourseList" parameterType="ScCourse" resultMap="ScCourseResult">
        <include refid="selectScCourseVo"/>
        <where>  
            <if test="courseNo != null  and courseNo != ''"> and course_no = #{courseNo}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="credit != null "> and credit = #{credit}</if>
        </where>
    </select>
    
    <select id="selectScCourseById" parameterType="Long" resultMap="ScCourseResult">
        <include refid="selectScCourseVo"/>
        where id = #{id}
    </select>

    <insert id="insertScCourse" parameterType="ScCourse" useGeneratedKeys="true" keyProperty="id">
        insert into sc_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseNo != null and courseNo != ''">course_no,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="credit != null">credit,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseNo != null and courseNo != ''">#{courseNo},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="credit != null">#{credit},</if>
         </trim>
    </insert>

    <update id="updateScCourse" parameterType="ScCourse">
        update sc_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseNo != null and courseNo != ''">course_no = #{courseNo},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="credit != null">credit = #{credit},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteScCourseById" parameterType="Long">
        delete from sc_course where id = #{id}
    </delete>

    <delete id="deleteScCourseByIds" parameterType="String">
        delete from sc_course where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>