<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joewang.sc_backend.system.mapper.ScScoreMapper">
    
    <resultMap type="ScScore" id="ScScoreResult">
        <result property="id"    column="id"    />
        <result property="enrollmentId"    column="enrollment_id"    />
        <result property="usualScore"    column="usual_score"    />
        <result property="midScore"    column="mid_score"    />
        <result property="finalScore"    column="final_score"    />
        <result property="totalScore"    column="total_score"    />
    </resultMap>

    <sql id="selectScScoreVo">
        select id, enrollment_id, usual_score, mid_score, final_score, total_score from sc_score
    </sql>

    <select id="selectScScoreList" parameterType="ScScore" resultMap="ScScoreResult">
        <include refid="selectScScoreVo"/>
        <where>  
            <if test="enrollmentId != null "> and enrollment_id = #{enrollmentId}</if>
            <if test="usualScore != null "> and usual_score = #{usualScore}</if>
            <if test="midScore != null "> and mid_score = #{midScore}</if>
            <if test="finalScore != null "> and final_score = #{finalScore}</if>
            <if test="totalScore != null "> and total_score = #{totalScore}</if>
        </where>
    </select>
    
    <select id="selectScScoreById" parameterType="Long" resultMap="ScScoreResult">
        <include refid="selectScScoreVo"/>
        where id = #{id}
    </select>

    <insert id="insertScScore" parameterType="ScScore" useGeneratedKeys="true" keyProperty="id">
        insert into sc_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="enrollmentId != null">enrollment_id,</if>
            <if test="usualScore != null">usual_score,</if>
            <if test="midScore != null">mid_score,</if>
            <if test="finalScore != null">final_score,</if>
            <if test="totalScore != null">total_score,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="enrollmentId != null">#{enrollmentId},</if>
            <if test="usualScore != null">#{usualScore},</if>
            <if test="midScore != null">#{midScore},</if>
            <if test="finalScore != null">#{finalScore},</if>
            <if test="totalScore != null">#{totalScore},</if>
         </trim>
    </insert>

    <update id="updateScScore" parameterType="ScScore">
        update sc_score
        <trim prefix="SET" suffixOverrides=",">
            <if test="enrollmentId != null">enrollment_id = #{enrollmentId},</if>
            <if test="usualScore != null">usual_score = #{usualScore},</if>
            <if test="midScore != null">mid_score = #{midScore},</if>
            <if test="finalScore != null">final_score = #{finalScore},</if>
            <if test="totalScore != null">total_score = #{totalScore},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteScScoreById" parameterType="Long">
        delete from sc_score where id = #{id}
    </delete>

    <delete id="deleteScScoreByIds" parameterType="String">
        delete from sc_score where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>