<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joewang.sc_backend.web.mapper.ScCollegeMapper">
    
    <resultMap type="ScCollege" id="ScCollegeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectScCollegeVo">
        select id, name from sc_college
    </sql>

    <select id="selectScCollegeList" parameterType="ScCollege" resultMap="ScCollegeResult">
        <include refid="selectScCollegeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectScCollegeById" parameterType="Long" resultMap="ScCollegeResult">
        <include refid="selectScCollegeVo"/>
        where id = #{id}
    </select>

    <insert id="insertScCollege" parameterType="ScCollege" useGeneratedKeys="true" keyProperty="id">
        insert into sc_college
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
         </trim>
    </insert>

    <update id="updateScCollege" parameterType="ScCollege">
        update sc_college
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteScCollegeById" parameterType="Long">
        delete from sc_college where id = #{id}
    </delete>

    <delete id="deleteScCollegeByIds" parameterType="String">
        delete from sc_college where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>